<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="error">

	<Appenders>
		<File name="LogToFile" fileName="logs/logs.log">
			<PatternLayout
				pattern= "%d{yyyy-MM-dd HH:mm:ss} %p %C{1} %L %m %n "/>
		</File>
	</Appenders>

	<Loggers>
		<Root level="error">
			<AppenderRef ref="LogToFile" />
		</Root>
	</Loggers>
	
</Configuration>